/.gradle
/.idea
/build/genMainResources
/build/js
/build/kotlin
/build/libs
/build/libs
/build/processedResources
/build/tmp
/build/web/ir
/build/web/kotlin
/build/web/kotlinx
/build/web/META-INF
/build/web/linkdata
/build/web/org
*.iml
*.hprof
*.log
korge.keystore
local.properties
src/main/*
